._ {
  --filter-bar_str_bg-color: transparent;
  --filter-bar_form_bg-color: #ebf0f5;
}

:root[theme="dark"] ._ {
  --filter-bar_str_bg-color: transparent;
  --filter-bar_form_bg-color: #171b1f;
}

._ {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 1rem;
  min-width: 57rem;
}
