/* Светлая тема */
._ {
  --page-header-bg-color: transparent;
  --page-header__title-text-color: #000000;
  --dlgTheme_caption-text-color: #000000;
}

/* Темная тема */
:root[theme="dark"] ._ {
  --page-header-bg-color: transparent;
  --page-header__title-text-color: #bcc4cc;
  --dlgTheme_caption-text-color: #bcc4cc;
}

._ {
  background-color: var(--page-header-bg-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem 0 0;
}

.title {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 1.625rem;
  line-height: 2rem;
  letter-spacing: -0.0125rem;
  color: var(--page-header__title-text-color);
}

.buttonTheme {
  --button_reverse__ico-opacity: 1;
}

.dlgTheme {
  right: 0;
  width: 128px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.dlgCaption {
  color: var(--dlgTheme_caption-text-color);
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 0.8125rem;
}
